.voyager .btn.btn-default {
    background-color: #F0F0F0;
    border-color: #EAEAEA;
}

.voyager .btn.btn-default:hover {
    background-color: #EAEAEA;
}

.voyager .btn.btn-success {
    background:#2ecc71;
    color:#fff;
    border: 0px;
    border-radius: 3px;
    opacity:0.9;
}

.voyager .btn.btn-success:hover {

  opacity:1;
}

.voyager .btn.btn-warning {
    background: #f39c12;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    opacity:0.9;
}

.voyager .btn.btn-warning:hover {
  opacity:1;
}

.voyager .btn.btn-info {
    background-color: #22A7F0;
    color: #FFF;
    border-color: #22A7F0;
}

.voyager .btn.btn-sm.btn-info {
  background:#22A7F0;
}

.voyager .btn.btn-danger {
    background:#FA2A00;
    color: #fff;
    border:0px;
    border-radius:3px;
    opacity:0.9;
}

.voyager .btn.btn-danger:hover{
  opacity:1;
}

.voyager .btn.btn-link {
    color: #353d47;
}

.voyager .btn.btn-circle{
  border-radius:50px;
}

.voyager .btn.btn-sm{
  opacity:0.9;
}

.voyager .btn.btn-sm:hover{
  opacity:1;
}

.voyager .btn.btn-sm {
  border-width:1px;
  border-color:rgba(255, 255, 255, 0);
  color:#eeeeee;
  transition: color .5s;
}

.voyager .btn.btn-sm:hover {
  color: #fff;
}

.voyager .btn.btn-default.btn-sm, .voyager .btn.btn-default.btn-sm:hover{
  color:inherit;
}

.btn-primary {
    color: #fff;
    opacity:0.9;
    background:#22A7F0;
    border: 0px;
    border-radius: 3px;

}

.voyager .btn.btn-primary {
  color: #fff;
  opacity: .9;
  background: #22a7f0;
  border: 0;
  border-radius: 3px;
}

.btn-primary:hover{
  opacity:1;
}

.btn-primary.active {
    background: #37aff1;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    opacity:1;
}

.btn{
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    border-radius: 3px;
    -webkit-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -o-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}

.voyager .btn:active,
.voyager .btn.active {
  -webkit-box-shadow:none;
  box-shadow: none;
}