html {
  height: 100%;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  line-height: 1.57142857;
  color: #76838f;
  background-color: #fff;
}

* {
  outline: none;
}

.row > [class*="col-"] {
  // margin-bottom: 25px;
}

.row.no-margin-bottom > [class*="col-"] {
  margin-bottom: 10px;
}

.row.no-gap {
  margin-left: 0;
  margin-right: 0;

  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.font-weight-300 {
  font-weight: 300;
}

.text-indent {
  text-indent: 1em;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.voyager b,
.voyager optgroup,
.voyager strong {
  font-weight: 500;
}
