.pricing-table .pt-header {
  text-align: center;
  padding: 1em; }
.pricing-table .pt-header .plan-pricing .pricing {
  font-size: 2.5em; }
.pricing-table .pt-header .plan-pricing .pricing-type {
  opacity: 0.9; }

.pricing-table .pt-body {
  padding: 1em;
  text-align: center; }
.pricing-table .pt-body .plan-detail {
  padding: 0;
  margin: 0;
  list-style: none; }

.pricing-table .pt-footer {
  padding: 0.75em;
  text-align: center; }

