.voyager .alert.alert-success {
    background-color: #99e9d9;
    color: #006551;
    border-color: #1ABC9C;
}

.voyager .alert.alert-success .alert-link {
    color: #006551;
    text-decoration: underline;
}

.voyager .alert.alert-success .btn-link {
    color: #006551;
}

.voyager .alert.alert-info {
    background-color: #91d5fb;
    color: #09486b;
    border-color: #22A7F0;
}

.voyager .alert.alert-info .alert-link {
    color: #09486b;
    text-decoration: underline;
}

.voyager .alert.alert-info .btn-link {
    color: #09486b;
}

.voyager .alert.alert-warning {
    background-color: #ffe5a2;
    border-color: #FABE28;
    color: #85630f;
}

.voyager .alert.alert-warning .alert-link {
    color: #85630f;
    text-decoration: underline;
}

.voyager .alert.alert-warning .btn-link {
    color: #85630f;
}

.voyager .alert.alert-danger {
    background-color: #ffb8aa;
    border-color: #fb927d;
    color: #7c1a06;
}

.voyager .alert.alert-danger .alert-link {
    color: #7c1a06;
    text-decoration: underline;
}

.voyager .alert.alert-danger .btn-link {
    color: #7c1a06;
}

.voyager .alert.fresh-color {
    color: #FFF;
}

.voyager .alert.fresh-color .alert-link {
    color: #FFF;
    text-decoration: underline;
}

.voyager .alert.fresh-color .btn-link {
    color: #FFF;
}

.voyager .alert.fresh-color.alert-success {
    background-color: #1ABC9C;
}

.voyager .alert.fresh-color.alert-info {
    background-color: #22A7F0;
}

.voyager .alert.fresh-color.alert-warning {
    background-color: #FABE28;
}

.voyager .alert.fresh-color.alert-danger {
    background-color: #FA2A00;
    border-color: #FA2A00;
}
