.voyager .login-box .login-form .login-header {
    color: #FFF;
}

.voyager .login-box .login-form .login-body {
    background-color: #FFF;
}

.voyager .login-box input {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}

.voyager .login-box .login-footer a {
    color: #FFF;
}

.voyager .login-box .login-footer a:hover {
    color: #FFF;
    text-decoration: underline;
}
