.voyager .badge.primary {
    background-color: #353d47;
}

.voyager .badge.success {
    background-color: #1ABC9C;
}

.voyager .badge.info {
    background-color: #22A7F0;
}

.voyager .badge.warning {
    background-color: #FABE28;
}

.voyager .badge.danger {
    background-color: #FA2A00;
}

.voyager .step.card-no-padding .nav-tabs > li {
    border: 0 solid transparent;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}

.voyager .step.card-no-padding .nav-tabs > li:last-child {
    border-right: 0 solid #E4E4E4;
}

.voyager .step.tabs-left .nav-tabs > li {
    border: 1px solid #E4E4E4;
}

.voyager .step.tabs-left .nav-tabs > li:after {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FFF;
}

.voyager .step.tabs-left .nav-tabs > li:before {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #E4E4E4;
}

.voyager .step.tabs-left .nav-tabs > li.active {
    background-color: #EAEAEA;
}

.voyager .step.tabs-left .nav-tabs > li.active > a,
.voyager .step.tabs-left .nav-tabs > li.active > a:focus,
.voyager .step.tabs-left .nav-tabs > li.active > a:hover {
    background: transparent;
}

.voyager .step.tabs-left .nav-tabs > li:hover {
    background-color: #EAEAEA;
}

.voyager .step.tabs-left .nav-tabs > li:hover:after,
.voyager .step.tabs-left .nav-tabs > li.active:after {
    border-left: 15px solid #EAEAEA;
}

.voyager .step.tabs-left.card-no-padding .nav-tabs > li {
    border: 0 solid transparent;
}
