.database-tables .name{
  float:left;
  position:relative;
}

.database-tables .browse_bread{
    margin-right:10px;
}

.database-tables .name a{
  float:left;
}

.database-tables tr .btn-default:hover{
  background:#ffffff;
}

.database-tables tr .btn-danger:hover{
  background:#f96868;
}

.database-tables tr .bread_actions{
  opacity:0.6;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.database-tables tr:hover .bread_actions{
  opacity:1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.database-tables .bread_actions .edit {
  margin-left:0px;
  display:inline-block;
}

.database-tables .btn-default{
  border:1px solid #eeeeee;
}

.database-tables .bread_actions form .btn-default{
  border:1px solid #eeeeee;
}

.voyager .side-menu.sidebar-inverse .navbar li.dropdown .panel-body{
  padding:0px;
}
