.btn-success i.voyager-plus{
  position:relative;
  top:2px;
}

.show-res{
  margin-left: 5px;
  margin-top: 15px;
}

.alerts {
  padding: 10px 10px 0;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  top: 10px;
}

.alerts .alert {
  margin-right: 0px;
}

.alerts .alert>p,
.alerts .alert>ul {
  margin-top: 0;
}
