.voyager .panel.panel-default {
    border: 1px solid #EAEAEA;
}

.voyager .panel.panel-default .panel-heading {
    border-bottom: 1px solid #EAEAEA;
    background-color: #F0F0F0;
}

.voyager .panel.panel-primary {
    border: 1px solid #353d47;
}
