.panel.widget{
  padding:30px;
  border:0px;
  border-radius:3px;
  flex:1;
  margin:10px;
}

.panel.widget.center{
  text-align:center;
}

.panel.widget .avatar{
    width: 100px;
    height: auto;
    border: 0 none;
    border-radius: 50%;
}

.panel.widget i{
    font-size: 48px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    color: #eee;
    line-height: 110px;
}

.panel.widget h4{
  color:#fff;
  font-weight:300;
  margin-top:20px;
  font-size:20px;
}

.panel.widget p{
  margin:30px 0;
  font-size:20px;
  font-size: 14px;
  line-height: 1.57142857;
  color: #DDD;
  display:block;
  max-height:65px;
  margin-bottom:0px;
}

.panel.widget .readm-link{
  margin-top:20px;
  color:#fff;
  text-decoration: underline;
}

.panel.widget .btn-primary{
  margin-top:20px;
  color:#fff;
}

.btn{
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    border-radius: 3px;
    -webkit-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -o-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}

.panel.widget.bgimage{
  background-size:cover;
  background-position:center center;
  position:relative;
}

.panel.widget .panel-content{
  z-index:9;
  position:relative;
}

.panel.widget .dimmer{
  background:rgba(45,53,61, 0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d353d+0,2d353d+100&0.79+0,0.5+100 */
  background: -moz-linear-gradient(-45deg,  rgba(45,53,61,0.79) 0%, rgba(45,53,61,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(45,53,61,0.79) 0%,rgba(45,53,61,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(45,53,61,0.79) 0%,rgba(45,53,61,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92d353d', endColorstr='#802d353d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity:1;
  transition:all 0.3s ease;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  border-radius:0px;
}

.side-menu .panel.widget .dimmer{
  border-radius: 0px;
}

.side-menu:hover .panel.widget .dimmer, .expanded .side-menu .panel.widget .dimmer{

  background: -moz-linear-gradient(275deg, rgba(36,44,50,1) 0%, rgba(36,44,50,0.95) 34%, rgba(36,44,50,0.7) 100%);
  background: -webkit-linear-gradient(275deg, rgba(36,44,50,1) 0%,rgba(36,44,50,0.95) 34%,rgba(36,44,50,0.7) 100%);
  background: linear-gradient(275deg, rgba(36,44,50,1) 0%,rgba(36,44,50,0.95) 34%,rgba(36,44,50,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242c32', endColorstr='#00242c32',GradientType=1 );
}

 .side-menu .navbar-header, .voyager .side-menu .navbar-header{
  float:none;
  margin-bottom:0px;
}

 .side-menu .panel.widget{
  padding:12px 0;
  margin:0px;
  border-radius:0px;
}

.side-menu-container  .side-menu .panel.widget .dimmer{
  border-radius:0px;
}


.app-container  .side-menu .panel.widget p, .app-container  .side-menu .panel.widget h4, .app-container  .side-menu .panel.widget a {
  display:none;
}

.app-container  .side-menu .panel.widget p{
  font-size:12px;
  margin-top:0px;
}

.app-container  .side-menu .panel.widget .avatar{
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 12px;
    border: 0px;
    position: relative;
    top: 3px;
}

.app-container .side-menu .panel.widget h4 {
    float: left;
    display: block;
    position: absolute;
    left: 60px;
    top: -7px;
    width: 190px;
    text-align: left;
    opacity:0;
    transition:opacity 0.3s ease;
    margin-top: 17px;
    left: 56px;
    overflow: hidden;
    height: 26px;
}

.app-container.expanded .panel.widget h4 {
  opacity:1;
}

.app-container .side-menu:hover .panel.widget h4 {
  opacity:1;
}

.app-container .side-menu:hover .panel.widget .avatar{
  float:left;
  margin-left:12px;
  transition:none;
}

.app-container.expanded .fadetoblack {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 800;
}
